/* Give your page a fun background color */
body {
    background-color: rgb(175, 255, 224);
  }
/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
  }
/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: #6A00FA ;
  }
/* Put a border around your image */

/* Change the font-family of your list */
ul {
    font-family: Arial, Helvetica, sans-serif;
  }
  